.menuPri{
    background:bisque;
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.item{
    padding: 2px 5px;
}
.mlink:hover{
    background-color: coral;
    border-radius: 20px;
}
.mlink{
    text-decoration: none;
    color: black;
}
*{
    margin: 0;
    }

h1{
    background: coral;
    color:black;
    text-align: center;
}
h2{
    background: black;
    color:coral;
    text-align: center; 
}
h3{
   background: coral;
    color:black;
    text-align: Center; 
}
.der{
   background: coral;
   color:black;
   text-align: center;
}
.imgs{
    text-align: center;
    background: bisque;
    color:black;
}
.inic{
    background: bisque;
    color:coral;
}
