.menuPri{
    background:bisque;
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.item{
    padding: 2px 5px;
}
.mlink:hover{
    background-color: coral;
    border-radius: 20px;
}
.mlink:hover{
    background-color: coral;
    border-radius: 10px;
}
.mlink{
    text-decoration: none;
    color: black;
}
*{
    background: bisque;
    margin: 0;
}
h1,h3{
    text-align: Center;
    background: coral;
    font-family: serif;
    color:black;
}
h2{
   text-align: left;
    background: coral;
    color:black; 
    font-family: serif;
}

.der{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
   background-color: coral;
   text-align: center;
}
.der1{
     text-align: left;
    background: black;
    font-family: serif;
    color:white;
    overflow-y: scroll;
    
}
.ubic{
    background: black;
}

.nav-inicio{
    background: black;
    text-decoration: none;
}
.nav-inicio:hover{
    background-color: coral;
    border-radius: 10px;
}
.h31{
   background: black;
   color:coral;
   text-align: left;
}
.ubic{
    text-align: center;
}
.imglo{
    text-align: center;
    background: coral;
    color:black; 
    font-family: serif;
}

